body {
    align-items: center;
    text-align: center;
}
.nav1{
    display: none;
}

.main {
    width: auto;
}

.nav3{
    display: none;
}

.containt{
    background: none;
}
.slide1_containt{
    display: none;
}

.image2{
    display: none;
 }
 
 /* @media only screen and (max-width: 1010px){ */
    .image1{
      display: none;
    }
 
    .image2{
      display: block;
    }
 /* } */

 .section2 {
    flex-wrap: wrap;
 }

 .highlight_containt {
    display: none;
 }
 .highlight_img img {
    width: auto;
 }

 .section3 {
    padding-top: 50px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
 }

 footer {
    flex-wrap: wrap;
    height: 1400px;
    width: auto;
    background-color: aquamarine;
    text-align: center;
    overflow: hidden;       
}

footer .four {
    height: 100px;
    border: height
    ;
}